{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content_body %}
  {{ govukPanel({
    titleText: "Name saved",
    html: "<p class=\"govuk-body\">" + (name | escape) + "</p>"
  }) }}
{% endblock %}
